# ======================
# Python (backend)
# ======================
venv/
data/
__pycache__/
*.db
*.pyc
*.pyo
*.pyd
*.sqlite3
.env

# ======================
# Node (frontend)
# ======================
node_modules/
.next/
out/
dist/

# ======================
# OS / Editor
# ======================
.DS_Store
.vscode/
.idea/

# ======================
# Logs
# ======================
*.log

# ======================
# Docker
# ======================
*.env